<?xml version="1.0"?>

<model>
  <name>rov</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Lucas Zheng</name>
    <email>lucas.zheng@warriorlife.net</email>
  </author>

  <maintainer>Lucas Zheng</maintainer>

  <description>
    Lightweight Blue Robotics BlueROV2 Heavy configuration model
  </description>
</model>