<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="materials">
  <xacro:macro name="color" params="r g b">
  	<visual>
      <material>
      	<ambient>${r} ${g} ${b} 1</ambient>
        <diffuse>${r} ${g} ${b} 1</diffuse>
        <specular>${r} ${g} ${b} 1</specular>
      </material>
    </visual>
  </xacro:macro>
	<xacro:macro name="red">
		<xacro:color r="1" g="0" b="0"/>
	</xacro:macro>
	<xacro:macro name="green">
		<xacro:color r="0" g="1" b="0"/>
	</xacro:macro>
	<xacro:macro name="blue">
		<xacro:color r="0" g="0" b="1"/>
	</xacro:macro>
</robot>